@page
@model IndexModel
@{
    ViewData["Title"] = "Rooms";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Incriminatr is an anonymous chat room platform.</p>
</div>
<p>@Model.TestProperty</p>