@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Incriminatr is an anonymous chat room platform.</p>
</div>

<div id="roomList">
    <ul>
        @foreach (var room in Model.ChatRooms)
        {
            <li>
                <a href="@Url.Page("Room", new {id = room.Id})">Join @room.Name</a>
            </li>
        }
    </ul>
</div>