@model Incriminatr.Models.LobbyViewModel

@{
    ViewBag.Title = "Lobby";
}

<div id="chatRooms">
    <ul>
        @foreach (var chatRoom in Model.ChatRooms)
        {
            <li><a href="@Url.Action("Room", "Chat", new {roomKey=chatRoom.Key})">@chatRoom.Name</a></li>
        }
    </ul>
</div>